{
  "jsc": {
    "target": "es2018",
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "classic"
      }
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": false
}
